# Python
__pycache__/
*.pyc
venv/
.env

# Angular / Node
frontend/node_modules/
frontend/dist/
frontend/.angular/
node_modules/
dist/
.angular/

# VS Code / sistema
.vscode/
.DS_Store
Thumbs.db
*.log
